<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geekholt.practiceui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ContainerActivity" />
        <activity android:name=".activity.Lesson1Activity" />
        <activity android:name=".activity.Lesson2Activity" />
        <activity android:name=".activity.Lesson3Activity" />
        <activity android:name=".activity.Lesson4Activity" />
        <activity android:name=".activity.Lesson5Activity" />
        <activity android:name=".activity.Lesson6Activity" />
    </application>

</manifest>